CONFIG_USB_OTG_SUPPORTED=y
CONFIG_USB_HOST_HUBS_SUPPORTED=y
CONFIG_IDF_EXPERIMENTAL_FEATURES=y
CONFIG_USB_HOST_EXT_PORT_RESET_ATTEMPTS=5
CONFIG_USB_HOST_EXT_PORT_RESET_RECOVERY_DELAY_MS=100
CONFIG_USJ_ENABLE_USB_SERIAL_JTAG=n
CONFIG_ESP_CONSOLE_SECONDARY_NONE=y
CONFIG_ESP_CONSOLE_UART_DEFAULT=y
CONFIG_ESP_CONSOLE_UART_NUM=0
CONFIG_ESP_CONSOLE_UART_BAUDRATE=115200
CONFIG_COMPILER_WARN_WRITE_STRINGS=n
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192
CONFIG_FREERTOS_HZ=1000
